html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body{
    background-color: rgba(30, 30, 30, 1);
    color: white;
    display: table-cell;
    vertical-align: middle;
}
 
.titulo
{
    text-align: center;
}

.form-control
{
    width: 350px;
    border-color: rgba(97, 253, 89, 1);   
}

.content
{
    max-width: 500px;
}

.esquecilogin{
    color: white;
}

.esquecisenha{
    color: white;
}

.btn-outline-login
{
    color: rgba(97, 253, 89, 1) !important;
    border-color: rgba(97, 253, 89, 1) !important;
}

input.form-control{
    background-color: rgba(30, 30, 30, 1);
    color: rgba(97, 253, 89, 1);
}
